*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
}
.col-lg-12{
    justify-content: space-around;
    color: white;
    align-content: center;
}
.about{
    background-color: white;
    height: 50vh;
}
.services{
    height: 70vh;
    /*width: 100%;*/
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    color: white;
}
/*.s-header> h3, p {*/
/*    margin-top: 200px;*/
/*}*/
.designtext{
    display: none;
}
.development p{
    display: none;
}
.product-management p{
    display: none;
}
.row{
   padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}